@model MvcFactbook.ViewModels.Models.Main.ShipTypeView

<div class="pr-2">
    <img src="~/images/icons/shiptype-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white ml-2 pr-2">
    <h2>@Model.Type</h2>
</div>
<div class="text-muted ml-2 pr-2">
    <h2>@Model.ShipCategory.Category</h2>
</div>
