@model MvcFactbook.ViewModels.Models.Main.HomeView

@{
    ViewData["Title"] = "Home Page";
}

<partial name='HomeMenu' model='new { Title = "HOME", Icon = "/images/icons/home-light.png" }' />
<hr class="bg-light" />

<div class="d-flex flex-row">
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/shipclass-light.png",
                Label = "SHIP CLASSES",
                Controller = "ShipClass",
                Action = "Index",
                Link = @Model.ShipClasses.Total,
                Tooltip = "Ship Classes"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipClassesChart", Item=@Model.ShipClasses }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "SHIPS",
                Controller = "Ship",
                Action = "Index",
                Link = @Model.Ships.Total,
                Tooltip = "Ships"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipsChart", Item=@Model.Ships }' />
        </div>
    </div>
    <div class="w-10 p-2">
        <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SHIP SERVICES"
            }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipServicesChart", Item=@Model.ShipServices }' />
        </div>
    </div>
    <div class="w-10 p-2">
        <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS"
            }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="BuildersChart", Item=@Model.Builders }' />
        </div>
    </div>
    <div class="w-10 p-2">
        <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS"
            }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="BuildersChart1", Item=@Model.Builders }' />
        </div>
    </div>
</div>

<hr class="bg-light" />
