@model MvcFactbook.ViewModels.Models.Main.ShipClassView

<div class="pr-2">
    <img src="~/images/icons/shipclass-light.png" alt="Card image" style="height:40px;">
</div>
<div class="ml-2 text-white">
    <h2>@Model.HeaderLabel</h2>
</div>
<div class="ml-4 text-muted">
    <h2>@Model.Year</h2>
</div>
<div class="ml-auto pt-2">
    @if (Model.Complete)
    {
        <img src="~/images/icons/lock-light.png" style="height:30px;" />
    }
    else
    {
        <img src="~/images/icons/unlock-light.png" style="height:30px;" />
    }
</div>
