@model MvcFactbook.ViewModels.Models.Main.ShipClassView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<partial name="DetailsShipClass" />
<hr class="bg-secondary" />

<partial name="DetailsShipClassStats" />
<hr class="bg-secondary" />

<div class="d-flex flex-row">
    <div class="w-100">
        <div class="d-flex pl-2">
            <div class="text-muted"><h6>Preceding Classes</h6></div>
            <div class="pl-3 text-muted">
                <h6><a asp-controller="SucceedingClass" asp-action="CreatePrecedingShipClass" class="text-muted" asp-route-id="@Model.Id" title="Add Class"><i class="fas fa-plus"></i></a></h6>
            </div>
        </div>
        <div>
            <partial name="ListLinkShipClasses" model=@Model.PrecedingShipClasses.OrderBy(x => x.Name) />
        </div>
    </div>
    <div class="w-100">
        <div class="d-flex pl-2">
            <div class="text-muted"><h6>Succeeding Classes</h6></div>
            <div class="pl-3 text-muted">
                <h6><a asp-controller="SucceedingClass" asp-action="CreateSucceedingShipClass" class="text-muted" asp-route-id="@Model.Id" title="Add Class"><i class="fas fa-plus"></i></a></h6>
            </div>
        </div>
        <div>
            <partial name="ListLinkShipClasses" model=@Model.SucceedingShipClasses.OrderBy(x => x.Name) />
        </div>
    </div>
</div>
<hr class="bg-secondary" />

<div class="d-flex flex-row">
    <div class="w-100 pr-2">
        <div class="d-flex pl-2">
            <div class="text-muted"><h6>Ships</h6></div>
        </div>
        <div style="max-height:170px;overflow-y:auto;">
            <partial name="ListLinkShips" model=@Model.Ships.OrderBy(x => x.Launched) />
        </div>
    </div>
    <div class="w-100 pr-2">
        <div class="d-flex pl-2">
            <div class="text-muted"><h6>Service</h6></div>
            <div class="pl-3 text-muted">
                <h6><a asp-controller="ShipService" asp-action="CreateByShipClass" class="text-muted" asp-route-id="@Model.Id" title="Add Service"><i class="fas fa-plus"></i></a></h6>
            </div>
        </div>
        <div class="pr-2" style="max-height:170px;overflow-y:auto;">
            <partial name="ListLinkShipServices" model=@Model.ShipServices.OrderBy(x => x.StartService) />
        </div>
    </div>
</div>
<hr class="bg-secondary" />
