@model MvcFactbook.ViewModels.Models.Main.ShipClassView

<div class="pr-2">
    <img class="card-img-top-50 rounded" src="~/images/icons/shipclass-light.png" alt="Card image" style="height:40px;">
</div>
<div class="ml-2 text-white">
    <h2>@Model.Name</h2>
</div>
<div class="ml-2 text-muted">
    <h2>@Model.SubClassName</h2>
</div>
<div class="ml-auto text-muted">
    <h2>@Model.Year</h2>
</div>
