@model MvcFactbook.ViewModels.Models.Main.ShipClassView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="d-flex bg-dark">
    @if (Model.ShipServices.Count > 0)
    {
        <div class="mr-3">
            <a asp-action="ShipServicesList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex alert bg-primary">
                    <div><img src="~/images/icons/shipservice-dark.png" style="height:24px;width:24px" /></div>
                    <div class="pl-3"><h5>Services</h5></div>
                    <div class="pl-3"><h5>@Model.ShipServices.Count</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="card-deck">
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Details</h5></div>
                <div class="ml-auto"><h5><i class="fas fa-info-circle"></i></h5></div>
            </div>
        </div>
        <div class="card-body bg-light rounded-bottom">
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Id), Value = Model.Id }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Name), Value = Model.Name }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.SubClassName), Value = Model.SubClassName }' />
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Class Stats</h5></div>
                <div class="ml-auto"><h5><i class="fas fa-info-circle"></i></h5></div>
            </div>
        </div>
        <div class="card-body bg-light rounded-bottom">
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Displacement), Value = Model.DisplacementLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Length), Value = Model.LengthLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Beam), Value = Model.BeamLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Propulsion), Value = Model.PropulsionLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Speed), Value = Model.SpeedLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Crew), Value = Model.CrewLabel }' />
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Ship Services</h5></div>
                <div class="ml-auto">
                    <h5><a asp-controller="ShipService" asp-action="CreateByShipClass" asp-route-id="@Model.Id" style="color:white" title="Add Ship Service"><i class="fas fa-plus"></i></a></h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-transparent" style="height:300px;max-height:300px;overflow-y:auto;">
            @if (Model.ShipServices.Count > 0)
            {
                foreach (var item in Model.ShipServices)
                {
                    <partial name="ActionListFlag" model='new { Controller = "ShipService", Action = "Details", Value = item.Name, RouteId = item.Id, Image = item.ImageSource }' />
                }
            }
            else
            {
                <partial name="BasicListLabel" model='new { Value = "--", Icon = string.Empty }' />
            }
        </div>
    </div>
</div>