@model MvcFactbook.ViewModels.Models.Main.ShipClassView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<div class="d-flex flex-row">
    <partial name="DetailsAddTableShipServices" model='new {
             Action="CreateByShipClass" ,
             RouteId=Model.Id,
             Items=Model.ShipServices.OrderBy(x => x.Name)
        }' />
</div>

<hr class="bg-light" />
