@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipClassView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "Ship Classes", Icon = "/images/icons/shipclass-light.png" }' />
<hr class="bg-secondary" />
<div class="pl-2 w-100">
    <partial name="PartialListMainShipClasses" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-secondary" />
