@if (Model.Item != null)
{
    <div class="mr-4">
        <a asp-controller="ShipSubType" asp-action="Details" asp-route-id="@Model.Item.Id">
            <div class="d-flex">
                <div><img src="~/images/icons/shipsubtype-light.png" style="height:20px;width:20px" /></div>
                <div class="pl-2 text-white">@Model.Item.Type</div>
                <div class="ml-auto pl-2">
                    <h5><i class='fas fa-angle-right text-white'></i></h5>
                </div>
            </div>
        </a>
    </div>
}
