<div class="p-1 mr-2">
    <a asp-action="Details" asp-route-id="@Model.Id" class="text-dark">
        <div class="d-flex">
            <div><img src="~/images/icons/info-light.png" style="height:20px;width:20px" /></div>
            <div class="pl-2 text-white">Details</div>
            <div class="ml-auto pl-2">
                <h5><i class='fas fa-angle-right text-white'></i></h5>
            </div>
        </div>
    </a>
</div>
