<div class="mr-4">
    <a asp-action="Details" asp-route-id="@Model.Id" class="text-dark">
        <div class="d-flex">
            <div><h5><i class='fas fa-info-circle text-white'></i></h5></div>
            <div class="pl-2 text-white">Details</div>
            <div class="ml-auto pl-2">
                <h5><i class='fas fa-angle-right text-white'></i></h5>
            </div>
        </div>
    </a>
</div>
