@if (Model.Item != null)
{
    <div class="mr-4">
        <a asp-controller="Branch" asp-action="Details" asp-route-id="@Model.Item.Id">
            <div class="d-flex">
                <div><img class="rounded" src="@Model.Item.ImageSource" alt="Card image" style="height:20px;width:20px;object-fit: cover;overflow: hidden;opacity:0.3"></div>
                <div class="pl-2 text-white">@Model.Item.Name</div>
                <div class="ml-auto pl-2">
                    <h5><i class='fas fa-angle-right text-white'></i></h5>
                </div>
            </div>
        </a>
    </div>
}
