<div class="w-100 p-2">
    <partial name="DetailsItemAddHeader" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "POLITICAL ENTITIES",
                Controller = "PoliticalEntity",
                Action = Model.Action,
                RouteId = Model.RouteId,
                Tooltip = "Add Political Entity"
    }' />
    <div class="mt-3">
        <partial name="TablePoliticalEntities" model="@Model.Items" />
    </div>
</div>
