@model MvcFactbook.Models.SucceedingClass

@{
    ViewData["Title"] = "Create";
}

<partial name='CreateByMenu' model='new { Text = "Succeeding Class", Action = "Details", Controller = "ShipClass", RouteId = ViewBag.RouteId, Icon = "fas fa-plus-square" }' />
<hr class="bg-light" />

<div class="pl-2 pr-2">
    <div class="d-flex flex-row w-100">
        <div class="pr-2">
            <img src="~/images/icons/succeedingclass-light.png" style="height:40px;" />
        </div>
        <div class="text-white">
            <h2>Succeeding Class</h2>
        </div>
    </div>
    <hr class="bg-secondary" />
    <form asp-action="CreatePrecedingShipClass">
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="PrecedingShipClass" class="input-group-text w-100"></label>
            </div>
            <select asp-for="ShipClassId" asp-items="ViewBag.PrecedingClasses" class="form-control rounded-right"></select>
            <span asp-validation-for="ShipClassId" class="text-danger"></span>
        </div>
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="SucceedingShipClass" class="input-group-text w-100"></label>
            </div>
            <select asp-for="SucceedingClassId" asp-items="ViewBag.SucceedingClasses" class="form-control rounded-right"></select>
            <span asp-validation-for="SucceedingClassId" class="text-danger"></span>
        </div>
        <hr class="bg-secondary" />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-secondary btn-sm" />
        </div>
    </form>
</div>
<hr class="bg-light" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
