@model MvcFactbook.ViewModels.Models.Main.SucceedingClassView

<div class="pr-2">
    <img src="~/images/icons/shipclass-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white pr-2">
    <h2>@Model.PrecedingShipClass.Name</h2>
</div>
<div class="text-muted pr-2">
    <h2>@Model.PrecedingShipClass.SubClassName</h2>
</div>
<div class="pr-2 ml-2 mr-2">
    <img src="~/images/icons/advance-light.png" style="height:40px;width:40px" />
</div>
<div class="pr-2">
    <img src="~/images/icons/shipclass-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white pr-2">
    <h2>@Model.SucceedingShipClass.Name</h2>
</div>
<div class="text-muted pr-2">
    <h2>@Model.SucceedingShipClass.SubClassName</h2>
</div>
