@model IEnumerable<MvcFactbook.ViewModels.Models.Main.SucceedingClassView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "SUCCEEDING CLASSES", Icon = "/images/icons/succeedingclass-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexSucceedingClasses" model="@Model.OrderBy(x => x.PrecedingShipClass.Name)" />
</div>
<hr class="bg-light" />
