<div class="w-100 p-2">
    <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SERVICES"
    }' />
    <div class="mt-3" style="max-height:300px;overflow-y:auto;">
        <partial name="ListShipServices" model=@Model.Items />
    </div>
</div>
