<div class="w-100 p-2">
    <partial name="DetailsItemAddHeader" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "PRECEDING ENTITIES",
                Controller = "PoliticalEntitySucceeding",
                Action = Model.Action,
                RouteId = Model.RouteId,
                Tooltip = "Add Preceding Entity"
    }' />
    <div class="mt-3" style="max-height:300px;overflow-y:auto;">
        <partial name="ListPrecedingEntities" model=@Model.Items />
    </div>
</div>
