@model MvcFactbook.ViewModels.Models.Main.BranchView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<div class="d-flex flex-row">
    <partial name="DetailsAddTableBranchFlags" model='new {
             Action = "CreateByBranch",
             RouteId = Model.Id,
             Items = Model.BranchFlags.OrderBy(x => x.Start)
             }' />
</div>

<hr class="bg-light" />
