@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BranchView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "BRANCHES", Icon = "/images/icons/branch-light.png" }' />
<hr class="bg-light" />
<div class="pl-2 w-75">
    <partial name="TableMainBranches" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-light" />
