<div>
    <div class="d-flex">
        <div class="p-2">
            <img src="~/images/icons/builder-light.png" style="height:40px;" />
        </div>
        <div class="text-white p-2 pl-3">
            <h2>@Model.Name</h2>
        </div>
        <div class="text-muted p-2 pl-3">
            <h2>@Model.Founded</h2>
        </div>
    </div>
</div>
