@model MvcFactbook.ViewModels.Models.Main.BuilderView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<div class="d-flex flex-row">
    <partial name="DetailsAddTableShips" model='new {
             Action = "CreateByBuilder",
             RouteId = Model.Id,
             Items = Model.Ships.OrderBy(x => x.Launched)
             }' />
</div>

<hr class="bg-light" />
