@model MvcFactbook.ViewModels.Models.Main.BuilderView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<div>
    <div class="d-flex p-2">
        <div class="text-muted"><h6>Ships</h6></div>
        <div class="pl-3 text-muted">
            <h6><a asp-controller="Ship" asp-action="CreateByBuilder" class="text-muted" asp-route-id="@Model.Id" title="Add Ship"><i class="fas fa-plus"></i></a></h6>
        </div>
    </div>
    <div>
        <partial name="ListDetailsShips" model=@Model.Ships.OrderBy(x => x.Launched) />
    </div>
    <hr class="bg-secondary" />
</div>
