@model MvcFactbook.ViewModels.Models.Main.BuilderView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div class="p-2">
            <img src="~/images/icons/builder-dark.png" style="height:50px;width:50px" />
        </div>
        <div class="p-2 pl-3">
            <h3><strong>@Model.Name</strong></h3>
            <h6>@Model.Founded</h6>
        </div>
    </div>
</div>