@model MvcFactbook.ViewModels.Models.Main.BuilderView

<div class="pr-2">
    <img src="~/images/icons/builder-light.png" style="height:40px;" />
</div>
<div class="text-white pr-2">
    <h2>@Model.Name</h2>
</div>
<div class="text-muted pl-2 pr-2">
    <h2>@Model.Founded</h2>
</div>
