@model MvcFactbook.ViewModels.Models.Main.BuilderView

<partial name="DetailsInfoMain" model='new { Partial = "InfoBuilder", Item = @Model }' />

<div class="d-flex flex-row">
    <partial name="DetailsAddListShips" model='new {
             Action="CreateByBuilder" ,
             RouteId=Model.Id,
             Items=Model.Ships.OrderBy(x => x.Launched)
        }' />
    <partial name="DetailsAddListPoliticalEntityBuildersPoliticalEntities" model='new {
             Action="CreateByBuilder" ,
             RouteId=Model.Id,
             Items=Model.PoliticalEntities.OrderBy(x => x.ShortName)
        }' />
</div>

<hr class="bg-light" />
