@model MvcFactbook.ViewModels.Models.Main.BuilderView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div class="p-2 pl-3">
            <i class='fas fa-road' style='font-size:36px;'></i>
        </div>
        <div class="p-2 pl-3">
            <h4>@Model.Name</h4>
            <h6>@Model.Founded</h6>
        </div>
    </div>
</div>