@model MvcFactbook.ViewModels.Models.Main.BuilderView

<div class="d-flex mt-3 p-2">
    <partial name="LinkDetails" model='new { Id = Model.Id }' />
    <partial name="LinkShips" model='new { Id = Model.Id, Items = Model.Ships }' />
</div>
