@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BuilderView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "Builders", Icon = "/images/icons/builder-light.png" }' />
<hr class="bg-secondary" />
<div class="pl-2 w-75">
    <partial name="PartialListMainBuilders" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-secondary" />
