@*@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BuilderView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "BUILDERS", Icon = "/images/icons/builder-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexBuilders" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-light" />*@
