@model MvcFactbook.ViewModels.Models.Main.ShipbuilderView

<div class="pr-4 mt-1">
    <img src="~/images/icons/organization-light.png" alt="Card image" style="height:40px;">
</div>

<div class="text-white pr-2 mt-2">
    <h2>@Model.Name</h2>
</div>
<div class="text-muted pl-2 pr-2 mt-2">
    <h2>@Model.Start</h2>
</div>
@if (Model.End.HasValue)
{
    <div class="text-muted pl-2 pr-2 mt-2">
        <h2>-</h2>
    </div>
    <div class="text-muted pl-2 pr-2 mt-2">
        <h2>@Model.End</h2>
    </div>
}
<div class="ml-auto pt-2 mt-2">
    @if (Model.Complete)
    {
        <img src="~/images/icons/lock-light.png" style="height:30px;" />
    }
    else
    {
        <img src="~/images/icons/unlock-light.png" style="height:30px;" />
    }
</div>
