@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BuilderView>

<div>
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/builder-light.png' style='height: 20px; width: 20px' />");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.FoundedLabel).Titled("Founded");
            columns.Add(model => model.DefunctLabel).Titled("Defunct");
            columns.Add(model => model.Ships.Count).Titled("Ships");
            columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/Builder/Details/{model.Id}'>Details</a>" +
                "</div>"
            );
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 14;
        })
        .AppendCss("table-hover")
    )
</div>
