@model MvcFactbook.ViewModels.Models.Main.DockyardView

<div class="d-flex flex-row flex-wrap">
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Name), Value = Model.Name }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.ShortName), Value = Model.ShortName }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.AlternativeNames), Value = Model.AlternativeNames }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Location), Value = Model.Location }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Latitude), Value = Model.Latitude }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Longitude), Value = Model.Longitude }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Zoom), Value = Model.Zoom }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Ships), Value = Model.Ships.Count }' />
</div>
