@model MvcFactbook.ViewModels.Models.Main.ShipClassView

<div class="d-flex flex-row flex-wrap">
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.SubClassName), Value = Model.SubClassNameLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Year), Value = Model.YearLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.InCommission), Value = Model.InCommission }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.TimeSpan), Value = Model.TimeSpanLabel }' />
</div>
