@model MvcFactbook.ViewModels.Models.Main.ShipServiceView

<div class="d-flex flex-row flex-wrap">
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Ship), Value = Model.Ship.Name }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Ship.Launched), Value = Model.Ship.LaunchedLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Ship.TimeSpan), Value = Model.Ship.TimeSpanLabel }' />
    @if (Model.Ship.HasDockyard)
    {
        <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Ship.Dockyard), Value = Model.Ship.Dockyard.Name }' />
    }
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.StartService), Value = Model.StartServiceLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.EndService), Value = Model.EndServiceLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.TimeSpan), Value = Model.TimeSpanLabel }' />
    <partial name="InfoItem" model='new { Label = Html.DisplayNameFor(x => x.Fate), Value = Model.Fate }' />
</div>
