<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/css/MvcGrid/mvc-grid.css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/MvcGrid/mvc-grid.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
</head>
<body class="bg-dark">
    <div class="d-flex">
        <div class="bg-dark">
            <div class="icon-bar p-0 ml-0" style="height:100%">
                <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a>
                <a asp-controller="ArmedForce" asp-action="Index"><img src="~/images/icons/armedforce-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="Branch" asp-action="Index"><img src="~/images/icons/branch-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="Builder" asp-action="Index"><img src="/images/icons/builder-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="Flag" asp-action="Index"><img src="/images/icons/flag-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="Ship" asp-action="Index"><img src="/images/icons/ship-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="ShipService" asp-action="Index"><img src="/images/icons/shipservice-light.png" style="height:20px;width:20px" /></a>
                <a asp-controller="ShipClass" asp-action="Index"><img src="/images/icons/shipclass-light.png" style="height:20px;width:20px" /></a>
            </div>
        </div>
        <div class="bg-dark">
            <div class="sidenav">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                <button class="dropdown-btn">
                    Lists
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="ArmedForce" asp-action="Index">Armed Forces</a>
                    <a asp-controller="ArmedForceFlag" asp-action="Index">Armed Force Flags</a>
                    <a asp-controller="Branch" asp-action="Index">Branches</a>
                    <a asp-controller="BranchFlag" asp-action="Index">Branch Flags</a>
                    <a asp-controller="BranchType" asp-action="Index">Branch Types</a>
                    <a asp-controller="Builder" asp-action="Index">Builders</a>
                    <a asp-controller="Flag" asp-action="Index">Flags</a>
                    <a asp-controller="Ship" asp-action="Index">Ships</a>
                    <a asp-controller="ShipClass" asp-action="Index">Ship Classes</a>
                    <a asp-controller="ShipService" asp-action="Index">Ship Services</a>
                    <a asp-controller="ShipCategory" asp-action="Index">Ship Categories</a>
                    <a asp-controller="ShipType" asp-action="Index">Ship Types</a>
                    <a asp-controller="ShipSubType" asp-action="Index">Ship Sub-Types</a>
                    <a asp-controller="ShipGroup" asp-action="Index">Ship Groups</a>
                    <a asp-controller="ShipGroupSet" asp-action="Index">Ship Group Sets</a>
                    <a asp-controller="SucceedingClass" asp-action="Index">Succeeding Classes</a>
                </div>
                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
            </div>
        </div>
        <div class="bg-dark flex-grow-1 p-3">
            @RenderBody()
        </div>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    @RenderSection("Scripts", required: false)

    <environment include="Development">
        <script src="~/js/vendor.min.js"></script>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/MvcGrid/mvc-grid.js"></script>
        <script>
            [].forEach.call(document.getElementsByClassName('mvc-grid'), element => new MvcGrid(element));
        </script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/vendor.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/MvcGrid/mvc-grid.js"></script>
        <script>
            [].forEach.call(document.getElementsByClassName('mvc-grid'), element => new MvcGrid(element));
        </script>
    </environment>
</body>
</html>