@model MvcFactbook.ViewModels.Models.Main.ArmedForceView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<partial name="DetailsArmedForce" />
<hr class="bg-secondary" />

@if ((Model.Branches.Count > 0) || (Model.ArmedForceFlags.Count > 0))
{
    <div class="d-flex flex-row">
        @if (Model.Branches.Count > 0)
        {
            <div class="w-50">
                <partial name="ListLinkBranches" model=@Model.Branches.OrderBy(x => x.Name) />
            </div>
        }
        @if (Model.ArmedForceFlags.Count > 0)
        {
            <div class="w-50">
                <partial name="ListLinkArmedForceFlags" model=@Model.ArmedForceFlags.OrderBy(x => x.Start) />
            </div>
        }
    </div>
    <hr class="bg-secondary" />
}
