@model MvcFactbook.Models.ArmedForce

@{
    ViewData["Title"] = "Edit";
}

<br />
<partial name="EditMenu" model='new { RouteId = Model.Id, Icon = "fas fa-edit" }' />
<br />

<div class="card border-0 w-75">
    <div class="card-header bg-secondary text-white">
        <div class="d-flex">
            <div><h5>Flag</h5></div>
            <div class="ml-auto"><h5><img src="~/images/icons/star.png" style="height:20px;width:20px" /></h5></div>
        </div>
    </div>
    <div class="card-body bg-transparent text-dark">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Name" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Name" class="form-control rounded-right" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Code" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Code" class="form-control rounded-right" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Budget" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Budget" class="form-control rounded-right" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="IsActive" class="input-group-text w-100"></label>
                </div>
                <div class="input-group-prepend">
                    <div class="input-group-text rounded-right">
                        <input asp-for="IsActive" type="checkbox">
                    </div>
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
