@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ArmedForceView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "Armed Forces", Icon = "/images/icons/armedforce-light.png" }' />
<hr class="bg-secondary" />
<div class="pl-2 w-75">
    <partial name="PartialListMainArmedForces" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-secondary" />
