@model MvcFactbook.ViewModels.Models.Main.PoliticalEntityEraView

<partial name="DetailsInfoMain" model='new { Partial = "InfoPoliticalEntityEra", Item = @Model }' />

<div class="p-2">
    <partial name="DetailsItemHeader" model='new { Label = "POLITICAL ENTITY", Icon = "/images/icons/embassy-light.png" }' />
</div>
<div class="p-2">
    <partial name="InfoPoliticalEntity" model=@Model.PoliticalEntity />
</div>
<hr class="bg-light" />
