@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityEraView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "POLITICAL ENTITY ERA", Icon = "/images/icons/time-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexPoliticalEntityEras" model="@Model.OrderBy(x => x.PoliticalEntity.Name)" />
</div>
<hr class="bg-light" />
