@model MvcFactbook.ViewModels.Models.Main.BranchTypeView

<div class="d-flex flex-row">
    <partial name="DetailsAddTableBranches" model='new {
             Action="CreateByBranchType" ,
             RouteId=Model.Id,
             Items=Model.Branches.OrderBy(x => x.Name)
        }' />
</div>

<hr class="bg-light" />
