@model MvcFactbook.ViewModels.Models.Main.BranchTypeView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div class="p-2">
            <img src="~/images/icons/@Model.IconDark" style="height:40px;width:40px" />
        </div>
        <div class="p-2 pl-3">
            <h3><strong>@Model.Type</strong></h3>
        </div>
    </div>
</div>