@model MvcFactbook.ViewModels.Models.Main.BranchTypeView

<div class="pr-2">
    <img src="@Model.IconLightPath" style="height:40px;width:40px" />
</div>
<div class="text-white pr-2">
    <h2>@Model.Type</h2>
</div>
<div class="text-muted ml-auto">
    <h2>@Model.Code</h2>
</div>
