@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BranchTypeView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "BRANCH TYPES", Icon = "/images/icons/branchtype-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-75">
    <partial name="TableIndexBranchTypes" model="@Model.OrderBy(x => x.Type)" />
</div>
<hr class="bg-light" />
