@model MvcFactbook.Models.ShipGroupSet

@{
    ViewData["Title"] = "Edit";
}

<partial name="EditMenu" model='new { RouteId = Model.Id, Icon = "fas fa-edit" }' />
<hr class="bg-light" />

<div class="pl-2 pr-2">
    <div class="d-flex flex-row w-100">
        <div class="pr-2">
            <img src="~/images/icons/shipgroupset-light.png" style="height:40px;" />
        </div>
        <div class="text-white">
            <h2>Ship Group Set</h2>
        </div>
    </div>
    <hr class="bg-secondary" />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="ShipService" class="input-group-text w-100"></label>
            </div>
            <select asp-for="ShipServiceId" asp-items="ViewBag.ShipServices" class="form-control rounded-right"></select>
            <span asp-validation-for="ShipServiceId" class="text-danger"></span>
        </div>
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="ShipGroup" class="input-group-text w-100"></label>
            </div>
            <select asp-for="ShipGroupId" asp-items="ViewBag.ShipGroups" class="form-control rounded-right"></select>
            <span asp-validation-for="ShipGroupId" class="text-danger"></span>
        </div>
        <hr class="bg-secondary" />
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-outline-secondary btn-sm" />
        </div>
    </form>
</div>
<hr class="bg-light" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
