@*@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityBuilderView>

<div>
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/join-light.png' style='height: 20px; width: 20px' />");
            columns.Add(model => model.PoliticalEntity.Name).Titled("Political Entity");
            columns.Add(model => model.Builder.Name).Titled("Builder");
            columns.Add(model => model.Builder.Founded).Titled("Founded");
            columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/PoliticalEntityBuilder/Edit/{model.Id}'>Edit</a>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/PoliticalEntityBuilder/Details/{model.Id}'>Details</a>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/PoliticalEntityBuilder/Delete/{model.Id}'>Delete</a>" +
                "</div>"
            );
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 14;
        })
        .AppendCss("table-hover")
    )
</div>*@
