@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipView>

<div>
    @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/ship-light.png' style='height: 20px; width: 20px' />");
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Launched).Titled("Launched").Formatted("{0:d}");
        columns.Add(model => model.Dockyard.Name);//.Titled("Builder");
        columns.Add(model => model.Complete).Titled("Complete");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-outline-secondary btn-sm' href='/Ship/Edit/{model.Id}'>Edit</a>" +
                $"<a class='btn btn-outline-secondary btn-sm' href='/Ship/Details/{model.Id}'>Details</a>" +
                $"<a class='btn btn-outline-secondary btn-sm' href='/Ship/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.RowsPerPage = 14;
    })
    .AppendCss("table-hover")
    )
</div>
