@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipClassView>

<div>
    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/shipclass-light.png' style='height: 20px; width: 20px' />");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Year).Titled("Year");
            columns.Add(model => model.Displacement).Titled("Displacement").Formatted("{0:N0}");
            columns.Add(model => model.Length).Titled("Length").Formatted("{0:0.00}");
            columns.Add(model => model.Beam).Titled("Beam").Formatted("{0:0.00}");
            columns.Add(model => model.Propulsion).Titled("Propulsion").Formatted("{0:N0}");
            columns.Add(model => model.Speed).Titled("Speed").Formatted("{0:N0}");
            columns.Add(model => model.Crew).Titled("Crew").Formatted("{0:N0}");
            columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/ShipClass/Edit/{model.Id}'>Edit</a>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/ShipClass/Details/{model.Id}'>Details</a>" +
                    $"<a class='btn btn-outline-secondary btn-sm' href='/ShipClass/Delete/{model.Id}'>Delete</a>" +
                "</div>"
            );
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 14;
        })
        .AppendCss("table-hover")
    )
</div>