@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityFlagView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "POLITICAL ENTITY FLAGS", Icon = "/images/icons/emptyflag-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexPoliticalEntityFlags" model="@Model.OrderBy(x => x.PoliticalEntity.Name)" />
</div>
<hr class="bg-light" />
