@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipServiceView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Encoded(false).RenderedAs(model => $"<img class='rounded' src='{model.ImageSource}' alt='Card image' style='height:20px;width:20px;object-fit:cover;overflow:hidden;opacity:0.4'>");
        columns.Add(model => model.Penant).Titled("Penant");
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Ship.Name).Titled("Ship");
        columns.Add(model => model.ShipClass.Name).Titled("Class");
        columns.Add(model => model.Branch.Name).Titled("Branch");
        columns.Add(model => model.ShipSubType.Type).Titled("Type");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-secondary btn-sm rounded-left' href='/ShipService/Edit/{model.Id}'>Edit</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-0' href='/ShipService/Details/{model.Id}'>Details</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-right' href='/ShipService/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-dark table-striped table-hover rounded-bottom")
)