@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityTypeView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/government-light.png' style='height: 20px; width: 20px' />");
        columns.Add(model => model.Type).Titled("Type");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-sm' href='/PoliticalEntityType/Edit/{model.Id}'>Edit</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-0' href='/PoliticalEntityType/Details/{model.Id}'>Details</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-right' href='/PoliticalEntityType/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-hover")
)
