@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipSubTypeView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Encoded(false).RenderedAs(model => $"<img src='/images/icons/raf-light.png' style='height: 20px; width: 20px' />");
        columns.Add(model => model.Type).Titled("Type");
        columns.Add(model => model.ShipType.Type).Titled("Ship Type");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-secondary btn-sm rounded-left' href='/ShipSubType/Edit/{model.Id}'>Edit</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-0' href='/ShipSubType/Details/{model.Id}'>Details</a>" +
                $"<a class='btn btn-secondary btn-sm rounded-right' href='/ShipSubType/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-dark table-striped table-hover rounded-bottom")
)