@model IEnumerable<MvcFactbook.ViewModels.Models.Main.BranchView>

<div>
    @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add().Encoded(false).RenderedAs(model => $"<img class='rounded' src='{model.CurrentFlag.ImageSource}' alt='Card image' style='height:20px;width:20px;object-fit:cover;overflow:hidden;opacity:0.4'>");
                columns.Add(model => model.Name).Titled("Name");
                columns.Add(model => model.ArmedForce.Name).Titled("Armed Force");
                columns.Add(model => model.BranchType.Type).Titled("Branch Type");
                columns.Add(model => model.HasEmblem).Titled("Emblem");
                columns.Add().Encoded(false).RenderedAs(model =>
                    "<div class='btn-group float-right'>" +
                        $"<a class='btn btn-outline-secondary btn-sm' href='/Branch/Edit/{model.Id}'>Edit</a>" +
                        $"<a class='btn btn-outline-secondary btn-sm' href='/Branch/Details/{model.Id}'>Details</a>" +
                        $"<a class='btn btn-outline-secondary btn-sm' href='/Branch/Delete/{model.Id}'>Delete</a>" +
                    "</div>"
                );
            })
            .RowCss(model => "p-5")
            .Empty("No data found")
            .Filterable()
            .Sortable()
            .Pageable(pager =>
            {
                pager.RowsPerPage = 15;
            })
            .AppendCss("table-hover")
    )
</div>
