<div class="d-flex flex-column">
    @foreach (var item in Model)
    {
        <div class="w-100 mb-2">
            <a asp-controller="Builder" asp-action="Details" asp-route-id="@item.Id">
                <div class="d-flex flex-row">
                    <div class="mr-2">
                        <img src="~/images/icons/builder-light.png" style="height:20px;width:20px" />
                    </div>
                    <div class="mr-2">
                        <div class="text-white">@item.Name</div>
                    </div>
                    <div class="mr-2">
                        <img src="~/images/icons/chevron-right-light.png" style="height:20px;width:20px" />
                    </div>
                    <div class="mr-2">
                        <div class="text-muted">@item.FoundedLabel</div>
                    </div>
                    <div class="mr-2">
                        <img src="~/images/icons/chevron-right-light.png" style="height:20px;width:20px" />
                    </div>
                    <div class="mr-2">
                        <div class="text-muted">@item.Ships.Count</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
