@model MvcFactbook.ViewModels.Models.Main.PoliticalEntityDockyardView

<div class="p-2">
    <partial name="DetailsItemHeader" model='new { Label = "POLITICAL ENTITY", Icon = "/images/icons/embassy-light.png" }' />
</div>
<div class="p-2">
    <partial name="InfoPoliticalEntity" model=@Model.PoliticalEntity />
</div>
<hr class="bg-light" />

<div class="p-2">
    <partial name="DetailsItemHeader" model='new { Label = "DOCKYARD", Icon = "/images/icons/builder-light.png" }' />
</div>
<div class="p-2">
    <partial name="InfoDockyard" model=@Model.Dockyard />
</div>
<hr class="bg-light" />
