@model MvcFactbook.Models.Ship

@{
    ViewData["Title"] = "Create";
}

<partial name="CreateMenu" model='new { Icon = "fas fa-plus-square" }' />
<hr class="bg-light" />

<div class="pl-2 pr-2">
    <div class="d-flex flex-row w-100">
        <div class="pr-2">
            <img src="~/images/icons/ship-light.png" style="height:40px;" />
        </div>
        <div class="text-white">
            <h2>Ship</h2>
        </div>
    </div>
    <hr class="bg-secondary" />
    <form asp-action="Create">
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="Name" class="input-group-text w-100"></label>
            </div>
            <input asp-for="Name" class="form-control rounded-right" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="Launched" class="input-group-text w-100"></label>
            </div>
            <input asp-for="Launched" class="form-control rounded-right" />
            <span asp-validation-for="Launched" class="text-danger"></span>
        </div>
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="Dockyard" class="input-group-text w-100"></label>
            </div>
            <select asp-for="DockyardId" asp-items="ViewBag.Dockyards" class="form-control rounded-right"></select>
            <span asp-validation-for="DockyardId" class="text-danger"></span>
        </div>
        <div class="input-group input-group-sm mb-3 w-50">
            <div class="input-group-prepend w-25">
                <label asp-for="Complete" class="input-group-text w-100"></label>
            </div>
            <div class="input-group-prepend">
                <div class="input-group-text  rounded-right">
                    <input asp-for="Complete" type="checkbox">
                </div>
            </div>
            <span asp-validation-for="Complete" class="text-danger"></span>
        </div>
        <hr class="bg-secondary" />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-secondary btn-sm" />
        </div>
    </form>
</div>
<hr class="bg-light" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
