@model MvcFactbook.Models.Ship

@{
    ViewData["Title"] = "Create";
}

<br />
<partial name='CreateByMenu' model='new { Text = "Builder", Action = "Details", Controller = "Builder", RouteId = ViewBag.RouteId, Icon = "fas fa-plus-square" }' />
<br />

<div class="card border-0 w-75">
    <div class="card-header bg-secondary text-white">
        <div class="d-flex">
            <div><h5>Ship</h5></div>
            <div class="ml-auto"><h5><img src="~/images/icons/ship-light.png" style="height:20px;width:20px" /></h5></div>
        </div>
    </div>
    <div class="card-body bg-transparent text-dark">
        <form asp-action="Create">
            <div class="input-group mb-3 input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="Name" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Name" class="form-control rounded-right" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Launched" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Launched" class="form-control rounded-right" />
                <span asp-validation-for="Launched" class="text-danger"></span>
            </div>
            <div class="input-group mb-3 input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="Builder" class="input-group-text w-100"></label>
                </div>
                <select asp-for="BuilderId" asp-items="ViewBag.Builders" class="form-control rounded-right"></select>
                <span asp-validation-for="BuilderId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}