@model MvcFactbook.ViewModels.Models.Main.ShipView

<div class="pr-2">
    <img class="card-img-top-50 rounded m-2" src="~/images/icons/ship-light.png" alt="Card image" style="height:40px;">
</div>
<div class="ml-2 text-white">
    <h2>@Model.Name</h2>
</div>
