@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "SHIPS", Icon = "/images/icons/ship-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexShips" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-light" />
