@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ArmedForceView>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Code).Titled("Code");
            columns.Add(model => model.IsActive).Titled("Active");
            //columns.Add(model => model.Budget.HasValue ? model.Budget.Value : "--").Titled("Budget");
            columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-secondary btn-sm rounded-left' href='/ArmedForce/Edit/{model.Id}'>Edit</a>" +
                    $"<a class='btn btn-secondary btn-sm rounded-0' href='/ArmedForce/Details/{model.Id}'>Details</a>" +
                    $"<a class='btn btn-secondary btn-sm rounded-right' href='/ArmedForce/Delete/{model.Id}'>Delete</a>" +
                "</div>"
            );
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable()
        .AppendCss("table-dark table-striped table-hover rounded-bottom")
)