<div class="d-flex flex-column mt-2">
    @foreach (var item in Model)
    {
        <div class="pr-4 pl-2 w-100">
            <a asp-controller="ShipClass" asp-action="Details" asp-route-id="@item.Id">
                <div class="d-flex flex-row">
                    <div class="pt-2 pr-2">
                        <img src="~/images/icons/shipclass-light.png" alt="Card image" style="height:30px;width:30px;object-fit: cover;overflow: hidden;" />
                    </div>
                    <div class="p-2">
                        <div class="text-white"><h5>@item.Name</h5></div>
                    </div>
                    <div class="p-2">
                        <div class="text-muted"><h5>@item.SubClassName</h5></div>
                    </div>
                    <div class="p-2">
                        <div class="text-muted"><h5>@item.Year</h5></div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
