<div class="d-flex flex-column mt-2">
    @foreach (var item in Model)
    {
        <div class="pr-4 pl-2 w-100">
            <a asp-controller="Ship" asp-action="Details" asp-route-id="@item.Id">
                <div class="d-flex flex-row">
                    <div class="pt-2 pr-2">
                        <img src="~/images/icons/ship-light.png" alt="Card image" style="height:20px;width:20px;object-fit:cover;overflow: hidden;" />
                    </div>
                    <div class="p-2 w-25">
                        <div class="text-white">@item.Name</div>
                    </div>
                    <div class="p-2 w-25">
                        <div class="text-muted">@item.LaunchedLabel</div>
                    </div>
                    <div class="p-2">
                        <div class="text-muted">@item.TimeSpanLabel</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
