<div class="p-2" style="max-height:400px;overflow-y:auto;">
    <div class="text-muted"><h6>Branches</h6></div>
    <div class="d-flex flex-column mt-2">
        @foreach (var item in Model)
        {
            <div class="pr-4 pl-2 w-100">
                <a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id">
                    <div class="d-flex flex-row">
                        <div class="pt-2 pr-2">
                            <img class="rounded" src="@item.ImageSource" alt="Card image" style="height:30px;width:30px;object-fit: cover;overflow: hidden;opacity:0.4" />
                        </div>
                        <div class="p-2 w-50">
                            <div class="text-white"><h5>@item.Name</h5></div>
                        </div>
                        <div class="p-2">
                            <div class="text-muted"><h5>@item.BranchType.Type</h5></div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
