@model MvcFactbook.ViewModels.Models.Main.ShipServiceView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<partial name="DetailsShipService" />
<hr class="bg-secondary" />
<partial name="DetailsShip" />
<hr class="bg-secondary" />
<div>
    <div class="d-flex p-2">
        <div class="text-muted"><h6>Tags</h6></div>
        <div class="pl-3 text-muted">
            <h6><a asp-controller="ShipGroupSet" asp-action="CreateByShipService" class="text-muted" asp-route-id="@Model.Id" title="Add Tag"><i class="fas fa-plus"></i></a></h6>
        </div>
    </div>
    <div>
        <partial name="ListLinkShipGroups" model=@Model.ShipGroups.OrderBy(x => x.Name) />
    </div>
    <hr class="bg-secondary" />
</div>
