<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="~/images/icons/shipservice-light.png" style="height:24px;width:24px" />
    <a class="navbar-brand pl-4 pr-4" href="#">Ship Service</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" asp-action="Index">Index</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Details" asp-route-id="@Model.Id">Details</a></li>
    </ul>
</nav>
