@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipServiceView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "Ship Services", Icon = "/images/icons/shipservice-light.png" }' />
<hr class="bg-secondary" />
<div class="pl-2 w-100">
    <partial name="PartialListMainShipServices" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-secondary" />
