@model MvcFactbook.Models.ShipCategory

@{
    ViewData["Title"] = "Create";
}

<br />
<partial name="CreateMenu" model='new { Icon = "fas fa-plus-square" }' />
<br />

<div class="card border-0 w-75">
    <div class="card-header bg-secondary text-white">
        <div class="d-flex">
            <div><h5>Ship Category</h5></div>
            <div class="ml-auto"><h5><img src="~/images/icons/circle-light.png" style="height:20px;width:20px" /></h5></div>
        </div>
    </div>
    <div class="card-body bg-transparent text-dark">
        <form asp-action="Create">
            <div class="input-group mb-3 input-group">
                <div class="input-group-prepend w-25">
                    <label asp-for="Category" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Category" class="form-control rounded-right" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}