@model IEnumerable<MvcFactbook.ViewModels.Models.Main.ShipCategoryView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "SHIP CATEGORIES", Icon = "/images/icons/shipcategory-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-50">
    <partial name="TableIndexShipCategories" model="@Model.OrderBy(x => x.Category)" />
</div>
<hr class="bg-light" />
 