<div class="d-flex">
    <div class="w-25 mb-1 pr-2 bg-secondary text-white text-right rounded-left">@Model.Label</div>
    <div class="w-75 mb-1 pl-2 bg-white rounded-right">@Model.Value</div>
</div>