<div class="d-flex">
    <div class="w-25 p-1 pr-2 mb-1 text-right text-white bg-secondary rounded-left">@Model.Label</div>
    <div class="w-75 p-1 pl-3 mb-1 bg-white rounded-right">@Model.Value</div>
</div>