<partial name="DetailsMenu" />
<hr class="bg-light" />

<div class="d-flex flex-row w-100">
    <partial name="DetailsHeader" />
</div>
<hr class="bg-secondary" />

<div class="d-flex flex-row flex-wrap">
    <partial name="DetailsLinks" />
</div>
<hr class="bg-light" />
