@model MvcFactbook.ViewModels.Models.Main.ShipGroupView

<div class="pr-2">
    <img src=@Model.IconLightFullPath style="height:40px;width:40px" />
</div>
<div class="text-white ml-2 pr-2">
    <h2>@Model.Name</h2>
</div>
