@model MvcFactbook.ViewModels.Models.Main.DockyardHistoryView

<div class="pr-4">
    <img src="~/images/icons/builder-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white pr-2">
    <h2>@Model.Dockyard.ShortName</h2>
</div>
<div class="pr-2 ml-3 mr-3">
    <img src="~/images/icons/advance-light.png" style="height:40px;width:40px" />
</div>
<div class="pr-2">
    <img src="~/images/icons/organization-light.png" style="height:40px;width:40px" />
    </div>
<div class="text-white pr-2">
    <h2>@Model.Shipbuilder.Name</h2>
</div>
