@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntitySucceedingView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "SUCCEEDING ENTITIES", Icon = "/images/icons/succeedingclass-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexSucceedingPoliticalEntities" model="@Model.OrderBy(x => x.PrecedingEntity.ShortName)" />
</div>
<hr class="bg-light" />
