@model MvcFactbook.ViewModels.Models.Main.ArmedForceFlagView

<div class="p-1">
    <img src="~/images/icons/armedforce-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white p-1">
    <h2>@Model.ArmedForce.Name</h2>
</div>
<div class="p-1 ml-2 mr-2">
    <img src="~/images/icons/advance-light.png" style="height:40px;width:40px" />
</div>
<div class="p-1">
    <img class="card-img-top-50 rounded" src="@Model.Flag.ImageSource" alt="Card image" style="height:40px;object-fit: cover;overflow: hidden;opacity:0.3">
</div>
<div class="text-white p-1">
    <h2>@Model.Flag.Name</h2>
</div>
