<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="~/images/icons/emptyflag-light.png" style="height:24px;width:24px" />
    <a class="navbar-brand pl-4 pr-4" href="#"><h4>Flag</h4></a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" asp-action="Index"><h4>Index</h4></a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Edit" asp-route-id="@Model.Id"><h4>Edit</h4></a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Delete" asp-route-id="@Model.Id"><h4>Delete</h4></a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Details" asp-route-id="@Model.Id"><h4>Details</h4></a></li>
    </ul>
</nav>