@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "POLITICAL ENTITIES", Icon = "/images/icons/embassy-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-100">
    <partial name="TableIndexPoliticalEntities" model="@Model.OrderBy(x => x.ShortName)" />
</div>
<hr class="bg-light" />
