@model MvcFactbook.ViewModels.Models.Main.PoliticalEntityTypeView

<div class="pr-2">
    <img src="~/images/icons/government-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white pr-2">
    <h2>@Model.Type</h2>
</div>
