@model IEnumerable<MvcFactbook.ViewModels.Models.Main.PoliticalEntityTypeView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "POLITICAL ENTITY TYPES", Icon = "/images/icons/government-light.png" }' />
<hr class="bg-light" />
<div class="p-2 w-50">
    <partial name="TableIndexPoliticalEntityTypes" model="@Model.OrderBy(x => x.Type)" />
</div>
<hr class="bg-light" />
