<div class="p-2">
    <partial name="DetailsItemHeader" model='new { Label = "DETAILS", Icon = "/images/icons/info-light.png" }' />
</div>
<div class="p-2">
    <partial name="@Model.Partial" model=@Model.Item />
</div>
<hr class="bg-light" />
