<div class="d-flex border-bottom border-secondary">
    <div class="mr-2">
        <img src="@Model.Icon" alt="Card image" style="height:20px;" />
    </div>
    <div class="text-white header-large">@Model.Label</div>
</div>
