<partial name="DetailsMenu" />
<hr class="bg-light" />

<div class="pl-2 pr-2">
    <div class="d-flex flex-row w-100">
        <partial name="DetailsHeader" />
    </div>
</div>
<hr class="bg-light" />
