@model MvcFactbook.ViewModels.Models.Main.FlagView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="card border-0">
    <div class="card-header bg-secondary text-white">Armed Forces</div>
    <div class="card-body bg-dark p-0">
        <partial name="PartialListDetailsArmedForceFlags" model="@Model.ArmedForceFlags.OrderBy(x => x.ListName)" />
    </div>
</div>