@model MvcFactbook.ViewModels.Models.Main.FlagView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />

<div class="d-flex flex-row">
    <partial name="DetailsAddTableBranchFlags" model='new {
             Action="CreateByFlag" ,
             RouteId=Model.Id,
             Items=Model.BranchFlags.OrderBy(x => x.Start)
        }' />
</div>

<hr class="bg-light" />
