@model IEnumerable<MvcFactbook.ViewModels.Models.Main.FlagView>

@{
    ViewData["Title"] = "Index";
}

<partial name='IndexMenu' model='new { Title = "Flags", Icon = "/images/icons/flag-light.png" }' />
<hr class="bg-secondary" />
<div class="pl-2 w-100">
    <partial name="PartialListMainFlags" model="@Model.OrderBy(x => x.Name)" />
</div>
<hr class="bg-secondary" />
