@model MvcFactbook.ViewModels.Models.Main.ShipSubTypeView

<div class="pr-2">
    <img src="~/images/icons/shipsubtype-light.png" style="height:40px;width:40px" />
</div>
<div class="text-white ml-2 pr-2">
    <h2>@Model.Type</h2>
</div>
<div class="text-muted ml-2 pr-2">
    <h2>@Model.ShipType.Type</h2>
</div>
